
  @import url('https://fonts.googleapis.com/css2?family=Bagel+Fat+One&display=swap');
.content-title{
    font-size: 5rem;
    font-family: 'Bagel Fat One', cursive;
    font-weight: 200;
    margin-top: 50px;
    text-transform: capitalize;
    color: #4682A9;
}
.para-group{
  display: flex;
  margin-left: 43%;
  margin-top: -60px;
}
.para-group p{
  margin-right: 30px;
}
.logo{
  margin-top: -20px;
  width: 200px;
  height: 200px;
}
.vvd{
  width: 200px;
  position:absolute;
  display: none;
}
.dead-video{
  display: none;
}
.alive-video{
  display: block;
}
.scroll-text{
  position: absolute;
  left: 85%;
  top: 520px;
  font-family: 'Bagel Fat One', cursive;
  color: #4682A9;
  font-weight: 100;
}
@media (max-width: 600px)
{
  .content-title{
    font-size: 2rem;
    text-align: left;
    margin-left: 20px;
}
.para-group{
  display: flex;
  margin-left: 33%;
  margin-top: -30px;
}
.para-group p{
  margin-right: 30px;
}
.logo{
  margin-top: -10px;
  width: 100px;
  height: 100px;
}
.scroll-text{
  display: none;
}
}